In [9]:
import pandas as pd
import sqlite3

conn=sqlite3.connect("/home/nambu/Desktop/ETL pipeline/SQL/library.db")
cursor = conn.cursor()

data = pd.read_csv(r'/home/nambu/Desktop/ETL pipeline/EXCTRACTED FILES/Divvy_Trips_2019_Q1.csv',header=0)
data['Quarter']='Q1'
#data.head()
data_f = data[['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration' ,'usertype', 'gender', 'birthyear']]
data_f.to_sql('Fact_D', conn, if_exists='append', index = False)

365069

In [10]:

data_d = data[['trip_id','from_station_id','from_station_name','to_station_id','to_station_name','Quarter']]
data_d.to_sql('Dimension_D', conn, if_exists='append', index = False)

365069

In [11]:
data2 = pd.read_csv(r'/home/nambu/Desktop/ETL pipeline/EXCTRACTED FILES/Divvy_Trips_2019_Q2.csv',header=0)
data2['Quarter']='Q2'
#data2.head()
names = list(data)
#print(names)
#list(data2) check for bad col names
data2.columns = names
data_f2 = data2[['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration' ,'usertype', 'gender', 'birthyear']]
data_f2.to_sql('Fact_D', conn, if_exists='append', index = False)
#list(data2) check if fix is applied
data_d2 = data2[['trip_id','from_station_id','from_station_name','to_station_id','to_station_name','Quarter']]
data_d2.to_sql('Dimension_D', conn, if_exists='append', index = False)

1108163

In [3]:
#Kernel keeps dying on me here
import pandas as pd
import sqlite3

conn=sqlite3.connect("/home/nambu/Desktop/ETL pipeline/SQL/library.db")
cursor = conn.cursor()

data3 = pd.read_csv(r'/home/nambu/Desktop/ETL pipeline/EXCTRACTED FILES/Divvy_Trips_2019_Q3.csv',header=0)
data3['Quarter']='Q3'
#list(data3)
data_f3 = data3[['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration' ,'usertype', 'gender', 'birthyear']]
data_f3.to_sql('Fact_D', conn, if_exists='append', index = False)
data_d3 = data3[['trip_id','from_station_id','from_station_name','to_station_id','to_station_name','Quarter']]
data_d3.to_sql('Dimension_D', conn, if_exists='append', index = False)

1640718

In [4]:
data4 = pd.read_csv(r'/home/nambu/Desktop/ETL pipeline/EXCTRACTED FILES/Divvy_Trips_2019_Q4.csv',header=0)
data4['Quarter']='Q4'
#list(data4)
data_f4 = data4[['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration' ,'usertype', 'gender', 'birthyear']]
data_f4.to_sql('Fact_D', conn, if_exists='append', index = False)
data_d4 = data4[['trip_id','from_station_id','from_station_name','to_station_id','to_station_name','Quarter']]
data_d4.to_sql('Dimension_D', conn, if_exists='append', index = False)

704054

In [ ]:
#merged_d=pd.concat([data,data2,data3,data4])
#print(merged_d)
#check if cols number is right

In [3]:
#merged_d.to_csv('/home/nambu/Desktop/ETL pipeline/EXCTRACTED FILES/merged.csv')
import pandas as pd
import sqlite3

conn=sqlite3.connect("/home/nambu/Desktop/ETL pipeline/SQL/library.db")
cursor = conn.cursor()
cursor.execute("""SELECT Count(*) FROM Fact_D
               """)
print(cursor.fetchall())
conn.commit()

[(3818004,)]