In [ ]:
import sqlite3

conn=sqlite3.connect("/home/nambu/Desktop/ETL pipeline/SQL/library.db")
cursor = conn.cursor()
cursor.execute("""Select Distinct count(*) as counts, from_station_id , to_station_id  from 
              Dimension_D group by  to_station_id , from_station_id
              order by counts desc
            LIMIT 10
               """)
conn.commit()
result=cursor.fetchall()

# Printing all records or rows from the table. 
# It returns a result set.  
for all in result: 
  print(all)

In [ ]:
#I actually did this in a normal environment because this the python fetch method is lacking
Select Distinct count(*) as counts, from_station_id , to_station_id  from 
  Dimension_D group by  to_station_id , from_station_id
  order by counts desc
LIMIT 10

In [ ]:
cursor.execute("""Select distinct count(DISTINCT trip_id) as count, min(start_time), max(end_time)
from Fact_D
	where (start_time BETWEEN date("2019-01-16") and date("2019-05-17") ) and (end_time BETWEEN date("2019-05-16") and date("2019-05-17") )
	order by count 
               """)
conn.commit()
result=cursor.fetchall()
result
# Printing all records or rows from the table. 
# It returns a result set.

In [ ]:

cursor.execute("""CREATE table Merged as
	SELECT DISTINCT  a.trip_id, b.from_station_id,b.trip_id, a.start_time,a.end_time 
	from Fact_D as a
	
	inner  join Dimension_D as b on a.trip_id=b.trip_id
	
WHERE (a.start_time BETWEEN  date("2019-01-01") and date("2019-05-17") and a.end_time BETWEEN date("2019-01-01") and date("2019-05-17"))
""")
conn.commit()
result=cursor.fetchall()
result

In [ ]:

cursor.execute("""SELECT  from_station_id,count(DISTINCT(trip_id)) as count
	from Merged
	
WHERE (start_time BETWEEN  date("2019-01-01") and date("2019-05-17") and end_time BETWEEN date("2019-01-01") and date("2019-05-17"))
GROUP by from_station_id
""")
conn.commit()
result=cursor.fetchall()
result

In [ ]:


cursor.execute("""
	SELECT  count(DISTINCT(trip_id)) as count, strftime('%m',start_time) as T
	from Fact_D
	
WHERE (start_time BETWEEN  date("2019-01-01") and date("2019-12-31") and end_time BETWEEN date("2019-01-01") and date("2019-12-31"))
GROUP by strftime('%m',start_time)

""")
conn.commit()
result=cursor.fetchall()
result

In [ ]:

cursor.execute("""SELECT  count(DISTINCT(trip_id)) as count, date(start_time) as T
	from Fact_D
	
WHERE (start_time BETWEEN  date("2019-01-01") and date("2019-05-17") and end_time BETWEEN date("2019-01-01") and date("2019-05-17"))
GROUP by date(start_time)
""")
conn.commit()
result=cursor.fetchall()
result

In [ ]:
##################
Select Distinct count(*) as counts, from_station_id , to_station_id  from 
  Dimension_D group by  to_station_id , from_station_id
  order by counts desc
LIMIT 10
##################
Select distinct count(DISTINCT trip_id) as count, min(start_time), max(end_time)
from Fact_D
	where (start_time BETWEEN date("2019-01-16") and date("2019-05-17") ) and (end_time BETWEEN date("2019-05-16") and date("2019-05-17") )
	order by count 
##################
CREATE table Merged as
	SELECT DISTINCT  a.trip_id, b.from_station_id,b.trip_id, a.start_time,a.end_time 
	from Fact_D as a
	
	inner  join Dimension_D as b on a.trip_id=b.trip_id
	
WHERE (a.start_time BETWEEN  date("2019-01-01") and date("2019-05-17") and a.end_time BETWEEN date("2019-01-01") and date("2019-05-17"))
##################
SELECT  from_station_id,count(DISTINCT(trip_id)) as count
	from Merged
	
WHERE (start_time BETWEEN  date("2019-01-01") and date("2019-05-17") and end_time BETWEEN date("2019-01-01") and date("2019-05-17"))
GROUP by from_station_id
##################

	SELECT  count(DISTINCT(trip_id)) as count, strftime('%m',start_time) as T
	from Fact_D
	
WHERE (start_time BETWEEN  date("2019-01-01") and date("2019-12-31") and end_time BETWEEN date("2019-01-01") and date("2019-12-31"))
GROUP by strftime('%m',start_time)
##################

	SELECT  count(DISTINCT(trip_id)) as count, date(start_time) as T
	from Fact_D
	
WHERE (start_time BETWEEN  date("2019-01-01") and date("2019-05-17") and end_time BETWEEN date("2019-01-01") and date("2019-05-17"))
GROUP by date(start_time)